body {
    background-color: #121212;
    color: #ffffff;
}

.container {
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.table {
    color: #ffffff;
}

.table th, .table td {
    vertical-align: middle;
    color: #ffffff;
}

.table-dark {
    background-color: #333333;
}
